# Chapter 3: DataFrames, Datasets, and Spark SQL

In this notebook, we will explore the DataFrames and Datasets concepts from Spark, as well as other aspects of the SQL API.

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark SQL").master("local[*]").getOrCreate()
sc = spark.sparkContext

## Basic of Schemas: Creating DataFrames and Datasets

In this section, we will explore how to define an Schema, and how to use it to create DataFames and Datasets

### Creating a DataFrame Specifying the Schema

In [2]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql import Row
import pyspark.sql.functions as F

In [3]:
people_schema = StructType([StructField("id", IntegerType(), True),
                            StructField("name", StringType(), True),
                            StructField("age", IntegerType(), True)])

In [4]:
people_data = [(1,"John", 23), (2,"Maria", 23), (3,"Isabella", 25),
               (4,"Abe", 25), (5,"Connor", 47), (6,"Daniel", 19)]

In [5]:
people_df = spark.createDataFrame(people_data, people_schema)

In [6]:
people_df.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|    John| 23|
|  2|   Maria| 23|
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
|  6|  Daniel| 19|
+---+--------+---+

### Creating a DataFrame without Specifying the Schema

In [7]:
people_df_no_schema = spark.createDataFrame(people_data)

In [8]:
people_df_no_schema.show()

+---+--------+---+
| _1|      _2| _3|
+---+--------+---+
|  1|    John| 23|
|  2|   Maria| 23|
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
|  6|  Daniel| 19|
+---+--------+---+

## DataFrame API

In this section, we will explore the DataFrame API.

### Transformations

#### Simple Transformations

We can perform a lot of simple transformations on Dataframes like `filter()`, together with other functionalities like `lit()`

In [9]:
people_df.filter(F.col("age") > 24).show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
+---+--------+---+

In [10]:
people_df.filter(F.lit(24) >= F.col("age")).show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1|  John| 23|
|  2| Maria| 23|
|  6|Daniel| 19|
+---+------+---+

Another interesting function is `explode`, which is useful to decompose columns made of lists or map/dicitonaries.

In [11]:
eDF = spark.createDataFrame([Row(a=1, intlist=[1,2,3], mapfield={"a": "b"})])
eDF.show()

+---+---------+--------+
|  a|  intlist|mapfield|
+---+---------+--------+
|  1|[1, 2, 3]|[a -> b]|
+---+---------+--------+

In [12]:
eDF.select("a", F.explode(eDF.intlist).alias("anInt")).show()

+---+-----+
|  a|anInt|
+---+-----+
|  1|    1|
|  1|    2|
|  1|    3|
+---+-----+

In [13]:
eDF.select("a", F.explode(eDF.mapfield).alias("key", "value")).show()

+---+---+-----+
|  a|key|value|
+---+---+-----+
|  1|  a|    b|
+---+---+-----+

Another interesting option is to perform "if/else" conditons directly on a DataFarme through the following syntaxis:

In [14]:
from pyspark.sql.functions import when

In [15]:
people_df_tag = people_df.select("id", "name", "age",(when(F.col("age") > 45, 2).when(F.col("age") <= 20, 0)\
                                                      .otherwise(1)).alias("encodedAge"))

In [16]:
people_df_tag.show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  1|    John| 23|         1|
|  2|   Maria| 23|         1|
|  3|Isabella| 25|         1|
|  4|     Abe| 25|         1|
|  5|  Connor| 47|         2|
|  6|  Daniel| 19|         0|
+---+--------+---+----------+

Other important set of functionalities are aggregations, which used together the `groupBy` command and one aggretation function: `aproxCountDistinct`, `avg`, `count`, `countDistinct`, `first`, `last`, `stddev`, `stddev_pop`, `sum`, `sumDistinct`.

In [17]:
people_df_tag.groupBy(F.col("encodedAge")).agg(F.avg(F.col("age"))).show()

+----------+--------+
|encodedAge|avg(age)|
+----------+--------+
|         1|    24.0|
|         2|    47.0|
|         0|    19.0|
+----------+--------+

In [18]:
people_df_tag.groupBy(F.col("encodedAge")).agg(F.count(F.col("age"))).show()

+----------+----------+
|encodedAge|count(age)|
+----------+----------+
|         1|         4|
|         2|         1|
|         0|         1|
+----------+----------+

In [19]:
people_df_tag.groupBy(F.col("encodedAge")).agg(F.countDistinct(F.col("age"))).show()

+----------+-------------------+
|encodedAge|count(DISTINCT age)|
+----------+-------------------+
|         1|                  2|
|         2|                  1|
|         0|                  1|
+----------+-------------------+

`Window` functions allow to calculate individual values for each register in a column based on some aggregate condition. Here we are going to calculate, for each person of the table `people_df_tag`, de difference between their age and the average of the age of its age group (indicated by the field `encodedAge`).

In [20]:
from pyspark.sql.window import Window

In [21]:
window_spec = Window.partitionBy(people_df_tag["encodedAge"])

In [22]:
col_avg_age_dif = F.avg(people_df_tag["age"]).over(window_spec) - people_df_tag["age"]

In [23]:
people_df_tag.select("id", "name", "age", "encodedAge", col_avg_age_dif.alias("age_dif_in_group")).show()

+---+--------+---+----------+----------------+
| id|    name|age|encodedAge|age_dif_in_group|
+---+--------+---+----------+----------------+
|  1|    John| 23|         1|             1.0|
|  2|   Maria| 23|         1|             1.0|
|  3|Isabella| 25|         1|            -1.0|
|  4|     Abe| 25|         1|            -1.0|
|  5|  Connor| 47|         2|             0.0|
|  6|  Daniel| 19|         0|             0.0|
+---+--------+---+----------+----------------+

Finally, another important functionality is orderBy()

In [24]:
people_df_tag.orderBy(F.col("age")).show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  6|  Daniel| 19|         0|
|  2|   Maria| 23|         1|
|  1|    John| 23|         1|
|  3|Isabella| 25|         1|
|  4|     Abe| 25|         1|
|  5|  Connor| 47|         2|
+---+--------+---+----------+

#### Multi-DataFrame Transformations: Set-Like operations

Another important group of transformations are the "set-like" operations, that works over two different dataframes. We can highlight the following set-like operations: `unionAll`, `intersect`, `except`, `distinct`.

In [25]:
people_df_tag_2 = spark.createDataFrame([(5, "Connor", 47, 2), 
                                         (6, "Daniel", 19, 0)], ["id", "name", "age", "encodedAge"])

`unioinAll()` --> to concatenate two dataframes

In [26]:
people_df_tag_union = people_df_tag.unionAll(people_df_tag_2)

In [27]:
people_df_tag_union.show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  1|    John| 23|         1|
|  2|   Maria| 23|         1|
|  3|Isabella| 25|         1|
|  4|     Abe| 25|         1|
|  5|  Connor| 47|         2|
|  6|  Daniel| 19|         0|
|  5|  Connor| 47|         2|
|  6|  Daniel| 19|         0|
+---+--------+---+----------+

`intersect()` --> to get the intersection between two DataFrames:

In [28]:
people_df_tag.intersect(people_df_tag_2).show()

+---+------+---+----------+
| id|  name|age|encodedAge|
+---+------+---+----------+
|  5|Connor| 47|         2|
|  6|Daniel| 19|         0|
+---+------+---+----------+

`subtract()` --> to remove from one DataFrame the elements from other DataFrame

In [29]:
people_df_tag.subtract(people_df_tag_2).show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  1|    John| 23|         1|
|  4|     Abe| 25|         1|
|  2|   Maria| 23|         1|
|  3|Isabella| 25|         1|
+---+--------+---+----------+

`distict()` --> to get the distinct elements from one DataFrame

In [30]:
people_df_tag_union.distinct().show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  5|  Connor| 47|         2|
|  1|    John| 23|         1|
|  6|  Daniel| 19|         0|
|  4|     Abe| 25|         1|
|  2|   Maria| 23|         1|
|  3|Isabella| 25|         1|
+---+--------+---+----------+

### Plain Old SQL Queries

It is possible to perform SQL queries using the old plain format instead of the new SQL API. Here we can se one example of how to do it:

In [31]:
people_df_tag.registerTempTable("people")

In [32]:
spark.sql("SELECT * FROM people WHERE age > 20").show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  1|    John| 23|         1|
|  2|   Maria| 23|         1|
|  3|Isabella| 25|         1|
|  4|     Abe| 25|         1|
|  5|  Connor| 47|         2|
+---+--------+---+----------+

## Data Loading and Saving Functions

In this section, we will explore how to load and save data in three different formats:

    * Parquet
    * CSV
    * Json

### Parquet Format

Loading data

In [33]:
parquet_data = spark.read.parquet("../data/person.parquet")

In [34]:
parquet_data.show()

+----+---+
|Name|Age|
+----+---+
|Raul| 29|
|Javi| 34|
+----+---+

Saving data

In [35]:
parquet_data.write.mode("overwrite").parquet("../data/person_write.parquet")

In [36]:
spark.read.parquet("../data/person_write.parquet").show()

+----+---+
|Name|Age|
+----+---+
|Raul| 29|
|Javi| 34|
+----+---+

### CSV Format

Loading data

In [37]:
csv_data = spark.read.option("header", "true").option("inferschema", "true").csv("../data/person.csv")

In [38]:
csv_data.show()

+----+---+
|Name|Age|
+----+---+
|Raul| 29|
|Javi| 34|
+----+---+

In [39]:
csv_data_bis = spark.read.csv("../data/person.csv", header=True, inferSchema=True)

In [40]:
csv_data_bis.show()

+----+---+
|Name|Age|
+----+---+
|Raul| 29|
|Javi| 34|
+----+---+

In [41]:
import pyspark.sql.types as T

In [42]:
schema = T.StructType([T.StructField("Name", T.StringType(), True),
                       T.StructField("Age", T.IntegerType(), True)])

In [43]:
csv_data_schema = spark.read.csv("../data/person.csv", header=True, schema=schema)

In [44]:
csv_data_schema.show()

+----+---+
|Name|Age|
+----+---+
|Raul| 29|
|Javi| 34|
+----+---+

Writing data

In [45]:
csv_data.write.mode("overwrite").csv("../data/person_write.csv", header=True)

In [46]:
spark.read.csv("../data/person_write.csv", header=True, inferSchema=True).show()

+----+---+
|Name|Age|
+----+---+
|Raul| 29|
|Javi| 34|
+----+---+

### JSON Format

Loading data

In [47]:
json_data = spark.read.json("../data/person.json")

In [48]:
json_data.show()

+---+----+
|age|name|
+---+----+
| 29|Raul|
| 33|Javi|
+---+----+

Saving data

In [49]:
json_data.write.mode("overwrite").json("../data/person_write.json")

In [50]:
spark.read.json("../data/person_write.json").show()

+---+----+
|age|name|
+---+----+
| 29|Raul|
| 33|Javi|
+---+----+

## Extending with User-Defined Functions (UDFs)

Using an UDFs, we are going to repeat the process where we obtained a new column with a categorical value for the age.

In [51]:
people_df.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|    John| 23|
|  2|   Maria| 23|
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
|  6|  Daniel| 19|
+---+--------+---+

In [52]:
def cat_age(age):
    if age > 45:
        return 2
    elif age <= 20:
        return 0
    else:
        return 1

cat_age_udf = F.udf(cat_age)

In [53]:
people_df_udf = people_df.withColumn("encodedAge", cat_age_udf("Age"))

In [54]:
people_df_udf.show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  1|    John| 23|         1|
|  2|   Maria| 23|         1|
|  3|Isabella| 25|         1|
|  4|     Abe| 25|         1|
|  5|  Connor| 47|         2|
|  6|  Daniel| 19|         0|
+---+--------+---+----------+