# Chapter 3: DataFrames, Datasets, and Spark SQL

In this notebook, we will explore the DataFrames and Datasets concepts from Spark, as well as other aspects of the SQL API.

In [1]:
import org.apache.spark.sql.{functions => F}
import org.apache.spark.sql.Row

import org.apache.spark.sql.{functions=>F}

## Basic of Schemas: Creating DataFrames and Datasets

In this section, we will explore how to define an Schema, and how to use it to create DataFames and Datasets

### Creating a DataFrame Specifying the Schema

In [2]:
import org.apache.spark.sql.types.{StructType, StructField, IntegerType, StringType, ArrayType, MapType}
import org.apache.spark.sql.Row

In [3]:
val peopleSchema = new StructType(Array(StructField("id", IntegerType, true),
                                        StructField("name", StringType, true),
                                        StructField("age", IntegerType, true)))

peopleSchema = StructType(StructField(id,IntegerType,true), StructField(name,StringType,true), StructField(age,IntegerType,true))

StructType(StructField(id,IntegerType,true), StructField(name,StringType,true), StructField(age,IntegerType,true))

In [4]:
val peopleData = sc.parallelize(Array((1,"John", 23), 
                                      (2,"Maria", 23), 
                                      (3,"Isabella", 25),
                                      (4,"Abe", 25),
                                      (5,"Connor", 47),
                                      (6,"Daniel", 19))).map(x => Row.fromTuple(x))

peopleData = MapPartitionsRDD[1] at map at <console>:36

MapPartitionsRDD[1] at map at <console>:36

In [5]:
val peopleDf = spark.createDataFrame(peopleData, peopleSchema)

peopleDf = [id: int, name: string ... 1 more field]

[id: int, name: string ... 1 more field]

In [6]:
peopleDf.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|    John| 23|
|  2|   Maria| 23|
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
|  6|  Daniel| 19|
+---+--------+---+

### Creating a DataFrame without Specifying the Schema

In [7]:
val peopleDataTuple = sc.parallelize(Array((1,"John", 23), 
                                           (2,"Maria", 23), 
                                           (3,"Isabella", 25),
                                           (4,"Abe", 25),
                                           (5,"Connor", 47),
                                           (6,"Daniel", 19)))

peopleDataTuple = ParallelCollectionRDD[7] at parallelize at <console>:31

ParallelCollectionRDD[7] at parallelize at <console>:31

In [8]:
val peopleDfNoSchema = spark.createDataFrame(peopleDataTuple)

peopleDfNoSchema = [_1: int, _2: string ... 1 more field]

[_1: int, _2: string ... 1 more field]

In [9]:
peopleDfNoSchema.show()

+---+--------+---+
| _1|      _2| _3|
+---+--------+---+
|  1|    John| 23|
|  2|   Maria| 23|
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
|  6|  Daniel| 19|
+---+--------+---+

### Creating a Dataset / DataFrame from Case Clases

In [10]:
case class Person(id: Integer, Name: String, Age: Integer)

defined class Person

In [11]:
val dataCaseClasses = sc.parallelize(Array(Person(1,"John", 23), Person(2,"Maria", 23),
                                           Person(3,"Isabella", 25), Person(4,"Abe", 25),
                                           Person(5,"Connor", 47), Person(6,"Daniel", 19)))

dataCaseClasses = ParallelCollectionRDD[12] at parallelize at <console>:33

ParallelCollectionRDD[12] at parallelize at <console>:33

In [12]:
val peopleDsCaseClasses = spark.createDataset(dataCaseClasses)

peopleDsCaseClasses = [id: int, Name: string ... 1 more field]

[id: int, Name: string ... 1 more field]

In [13]:
peopleDsCaseClasses.show()

+---+--------+---+
| id|    Name|Age|
+---+--------+---+
|  1|    John| 23|
|  2|   Maria| 23|
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
|  6|  Daniel| 19|
+---+--------+---+

In [14]:
peopleDsCaseClasses.rdd.take(1)(0).getClass

class $line34.$read$$iw$$iw$Person

In [15]:
val peopleDfCaseClasses = spark.createDataFrame(dataCaseClasses)

peopleDfCaseClasses = [id: int, Name: string ... 1 more field]

[id: int, Name: string ... 1 more field]

In [16]:
peopleDfCaseClasses.show()

+---+--------+---+
| id|    Name|Age|
+---+--------+---+
|  1|    John| 23|
|  2|   Maria| 23|
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
|  6|  Daniel| 19|
+---+--------+---+

## DataFrame API

In this section, we will explore the DataFrame API.

### Transformations

#### Simple Transformations

We can perform a lot of simple transformations on Dataframes like `filter()`, together with other functionalities like `lit()`

In [17]:
peopleDf.filter(F.col("age") > 24).show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
+---+--------+---+

In [18]:
peopleDf.filter(F.lit(24) >= F.col("age")).show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1|  John| 23|
|  2| Maria| 23|
|  6|Daniel| 19|
+---+------+---+

Another interesting function is `explode`, which is useful to decompose columns made of lists or map/dicitonaries.

In [19]:
val schema = new StructType(Array(StructField("a", IntegerType, true),
                                  StructField("intList", ArrayType(IntegerType), true),
                                  StructField("mapField", MapType(StringType, StringType), true)))

val eDF_rdd = sc.parallelize(Array(Row(1, Array(1,2,3), Map("a" -> "b"))))

val eDF = spark.createDataFrame(eDF_rdd, schema)
eDF.show()

+---+---------+--------+
|  a|  intList|mapField|
+---+---------+--------+
|  1|[1, 2, 3]|[a -> b]|
+---+---------+--------+

schema = StructType(StructField(a,IntegerType,true), StructField(intList,ArrayType(IntegerType,true),true), StructField(mapField,MapType(StringType,StringType,true),true))
eDF_rdd = ParallelCollectionRDD[31] at parallelize at <console>:37
eDF = [a: int, intList: array<int> ... 1 more field]

[a: int, intList: array<int> ... 1 more field]

In [20]:
eDF.withColumn("anInt", F.explode(F.col("intList"))).show()

+---+---------+--------+-----+
|  a|  intList|mapField|anInt|
+---+---------+--------+-----+
|  1|[1, 2, 3]|[a -> b]|    1|
|  1|[1, 2, 3]|[a -> b]|    2|
|  1|[1, 2, 3]|[a -> b]|    3|
+---+---------+--------+-----+

In [21]:
eDF.select(F.col("a"), F.explode(F.col("mapField"))).show()

+---+---+-----+
|  a|key|value|
+---+---+-----+
|  1|  a|    b|
+---+---+-----+

Another interesting option is to perform "if/else" conditons directly on a DataFarme through the following syntaxis:

In [22]:
import org.apache.spark.sql.functions.when

In [23]:
val peopleDfTag = peopleDf.select(F.col("id"), F.col("name"), F.col("age"),(when(F.col("age") > 45, 2).when(F.col("age") <= 20, 0).otherwise(1)).alias("encodedAge"))

peopleDfTag = [id: int, name: string ... 2 more fields]

[id: int, name: string ... 2 more fields]

In [24]:
peopleDfTag.show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  1|    John| 23|         1|
|  2|   Maria| 23|         1|
|  3|Isabella| 25|         1|
|  4|     Abe| 25|         1|
|  5|  Connor| 47|         2|
|  6|  Daniel| 19|         0|
+---+--------+---+----------+

Other important set of functionalities are aggregations, which used together the `groupBy` command and one aggretation function: `aproxCountDistinct`, `avg`, `count`, `countDistinct`, `first`, `last`, `stddev`, `stddev_pop`, `sum`, `sumDistinct`.

In [25]:
peopleDfTag.groupBy(F.col("encodedAge")).agg(F.avg(F.col("age"))).show()

+----------+--------+
|encodedAge|avg(age)|
+----------+--------+
|         1|    24.0|
|         2|    47.0|
|         0|    19.0|
+----------+--------+

In [26]:
peopleDfTag.groupBy(F.col("encodedAge")).agg(F.count(F.col("age"))).show()

+----------+----------+
|encodedAge|count(age)|
+----------+----------+
|         1|         4|
|         2|         1|
|         0|         1|
+----------+----------+

In [27]:
peopleDfTag.groupBy(F.col("encodedAge")).agg(F.countDistinct(F.col("age"))).show()

+----------+-------------------+
|encodedAge|count(DISTINCT age)|
+----------+-------------------+
|         1|                  2|
|         2|                  1|
|         0|                  1|
+----------+-------------------+

`Window` functions allow to calculate individual values for each register in a column based on some aggregate condition. Here we are going to calculate, for each person of the table `people_df_tag`, de difference between their age and the average of the age of its age group (indicated by the field `encodedAge`).

In [28]:
import org.apache.spark.sql.expressions.Window

In [29]:
val windowSpec = Window.partitionBy(peopleDfTag("encodedAge"))

windowSpec = org.apache.spark.sql.expressions.WindowSpec@256ab7b

org.apache.spark.sql.expressions.WindowSpec@256ab7b

In [30]:
val colAvgAgeDif = F.avg(peopleDfTag("age")).over(windowSpec) - peopleDfTag("age")

colAvgAgeDif = (avg(age) OVER (PARTITION BY encodedAge unspecifiedframe$()) - age)

(avg(age) OVER (PARTITION BY encodedAge unspecifiedframe$()) - age)

In [31]:
peopleDfTag.select(F.col("id"), F.col("name"), 
                   F.col("age"), F.col("encodedage"),
                  colAvgAgeDif.alias("ageDifinGroup")).show()

+---+--------+---+----------+-------------+
| id|    name|age|encodedage|ageDifinGroup|
+---+--------+---+----------+-------------+
|  1|    John| 23|         1|          1.0|
|  2|   Maria| 23|         1|          1.0|
|  3|Isabella| 25|         1|         -1.0|
|  4|     Abe| 25|         1|         -1.0|
|  5|  Connor| 47|         2|          0.0|
|  6|  Daniel| 19|         0|          0.0|
+---+--------+---+----------+-------------+

Finally, another important functionality is orderBy()

In [32]:
peopleDfTag.orderBy(F.col("age")).show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  6|  Daniel| 19|         0|
|  2|   Maria| 23|         1|
|  1|    John| 23|         1|
|  4|     Abe| 25|         1|
|  3|Isabella| 25|         1|
|  5|  Connor| 47|         2|
+---+--------+---+----------+

#### Multi-DataFrame Transformations: Set-Like operations

Another important group of transformations are the "set-like" operations, that works over two different dataframes. We can highlight the following set-like operations: `unionAll`, `intersect`, `except`, `distinct`.

In [33]:
val peopleSchema = new StructType(Array(StructField("id", IntegerType, true),
                                        StructField("name", StringType, true),
                                        StructField("age", IntegerType, true),
                                        StructField("encodedAge", IntegerType, true)))


val peopleData = sc.parallelize(Array((5, "Connor", 47, 2), 
                                      (6, "Daniel", 19, 0))).map(x => Row.fromTuple(x))

val peopleDfTag2 = spark.createDataFrame(peopleData, peopleSchema)

peopleSchema = StructType(StructField(id,IntegerType,true), StructField(name,StringType,true), StructField(age,IntegerType,true), StructField(encodedAge,IntegerType,true))
peopleData = MapPartitionsRDD[90] at map at <console>:46
peopleDfTag2 = [id: int, name: string ... 2 more fields]

[id: int, name: string ... 2 more fields]

`unioinAll()` --> to concatenate two dataframes

In [34]:
val peopleDfTagUnion = peopleDfTag.unionAll(peopleDfTag2)

peopleDfTagUnion = [id: int, name: string ... 2 more fields]

warning: there was one deprecation warning; re-run with -deprecation for details

[id: int, name: string ... 2 more fields]

In [35]:
peopleDfTagUnion.show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  1|    John| 23|         1|
|  2|   Maria| 23|         1|
|  3|Isabella| 25|         1|
|  4|     Abe| 25|         1|
|  5|  Connor| 47|         2|
|  6|  Daniel| 19|         0|
|  5|  Connor| 47|         2|
|  6|  Daniel| 19|         0|
+---+--------+---+----------+

`intersect()` --> to get the intersection between two DataFrames:

In [36]:
peopleDfTag.intersect(peopleDfTag2).show()

+---+------+---+----------+
| id|  name|age|encodedAge|
+---+------+---+----------+
|  6|Daniel| 19|         0|
|  5|Connor| 47|         2|
+---+------+---+----------+

`except()` --> to remove from one DataFrame the elements from other DataFrame

In [37]:
peopleDfTag.except(peopleDfTag2).show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  4|     Abe| 25|         1|
|  1|    John| 23|         1|
|  2|   Maria| 23|         1|
|  3|Isabella| 25|         1|
+---+--------+---+----------+

`distict()` --> to get the distinct elements from one DataFrame

In [38]:
peopleDfTagUnion.distinct().show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  4|     Abe| 25|         1|
|  6|  Daniel| 19|         0|
|  1|    John| 23|         1|
|  2|   Maria| 23|         1|
|  5|  Connor| 47|         2|
|  3|Isabella| 25|         1|
+---+--------+---+----------+

### Plain Old SQL Queries

It is possible to perform SQL queries using the old plain format instead of the new SQL API. Here we can se one example of how to do it:

In [39]:
peopleDfTag.registerTempTable("people")

warning: there was one deprecation warning; re-run with -deprecation for details

In [40]:
spark.sql("SELECT * FROM people WHERE age > 20").show()

+---+--------+---+----------+
| id|    name|age|encodedAge|
+---+--------+---+----------+
|  1|    John| 23|         1|
|  2|   Maria| 23|         1|
|  3|Isabella| 25|         1|
|  4|     Abe| 25|         1|
|  5|  Connor| 47|         2|
+---+--------+---+----------+

## Data Loading and Saving Functions

In this section, we will explore how to load and save data in three different formats:

    * Parquet
    * CSV
    * Json

### Parquet Format

Loading data

In [41]:
val parquetData = spark.read.parquet("../data/person.parquet")

parquetData = [Name: string, Age: int]

[Name: string, Age: int]

In [42]:
parquetData.show()

+----+---+
|Name|Age|
+----+---+
|Raul| 29|
|Javi| 34|
+----+---+

Saving data

In [43]:
parquetData.write.mode("overwrite").parquet("../data/person_write.parquet")

In [44]:
spark.read.parquet("../data/person_write.parquet").show()

+----+---+
|Name|Age|
+----+---+
|Raul| 29|
|Javi| 34|
+----+---+

### CSV Format

Loading data

In [45]:
val csvData = spark.read.option("header", "true").option("inferschema", "true").csv("../data/person.csv")

csvData = [Name: string, Age: int]

[Name: string, Age: int]

In [46]:
csvData.show()

+----+---+
|Name|Age|
+----+---+
|Raul| 29|
|Javi| 34|
+----+---+

In [47]:
import org.apache.spark.sql.types.{StructType, StructField, StringType, IntegerType}
val schema = new StructType(Array(StructField("Name", StringType, true), 
                                  StructField("Age", IntegerType, true)))

schema = StructType(StructField(Name,StringType,true), StructField(Age,IntegerType,true))

StructType(StructField(Name,StringType,true), StructField(Age,IntegerType,true))

In [48]:
val csvDataSchema = spark.read.schema(schema).csv("../data/person.csv")

csvDataSchema = [Name: string, Age: int]

[Name: string, Age: int]

In [49]:
csvDataSchema.show()

+----+----+
|Name| Age|
+----+----+
|null|null|
|Raul|  29|
|Javi|  34|
+----+----+

Saving data:

In [50]:
csvData.write.mode("overwrite").option("header", "true").csv("../data/person_write.csv")

In [51]:
spark.read.option("inferSchema", "true").option("header", "true").csv("../data/person_write.csv").show()

+----+---+
|Name|Age|
+----+---+
|Raul| 29|
|Javi| 34|
+----+---+

### JSON Format

Loading data

In [52]:
val jsonData = spark.read.json("../data/person.json")

jsonData = [age: bigint, name: string]

[age: bigint, name: string]

In [53]:
jsonData.show()

+---+----+
|age|name|
+---+----+
| 29|Raul|
| 33|Javi|
+---+----+

Saving data

In [54]:
jsonData.write.mode("overwrite").json("../data/person_write.json")

In [55]:
spark.read.json("../data/person_write.json").show()

+---+----+
|age|name|
+---+----+
| 29|Raul|
| 33|Javi|
+---+----+

## Datasets

Now, we will explore the `Datasets`, and how to operate with them.

In [56]:
case class Person(id: Integer, Name: String, Age: Integer)

defined class Person

In [57]:
val dataCaseClasses = sc.parallelize(Array(Person(1,"John", 23), Person(2,"Maria", 23),
                                           Person(3,"Isabella", 25), Person(4,"Abe", 25),
                                           Person(5,"Connor", 47), Person(6,"Daniel", 19)))
val peopleDs = spark.createDataset(dataCaseClasses)

dataCaseClasses = ParallelCollectionRDD[213] at parallelize at <console>:40
peopleDs = [id: int, Name: string ... 1 more field]

[id: int, Name: string ... 1 more field]

In [58]:
peopleDs.show()

+---+--------+---+
| id|    Name|Age|
+---+--------+---+
|  1|    John| 23|
|  2|   Maria| 23|
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
|  6|  Daniel| 19|
+---+--------+---+

We can create easily `DataFrames` and `RDD` from datasets.

In [59]:
val peopleDf = peopleDs.toDF()

peopleDf = [id: int, Name: string ... 1 more field]

[id: int, Name: string ... 1 more field]

In [60]:
peopleDf.show()

+---+--------+---+
| id|    Name|Age|
+---+--------+---+
|  1|    John| 23|
|  2|   Maria| 23|
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
|  6|  Daniel| 19|
+---+--------+---+

In [61]:
val peopleRDD = peopleDs.rdd

peopleRDD = MapPartitionsRDD[223] at rdd at <console>:41

MapPartitionsRDD[223] at rdd at <console>:41

In [62]:
peopleRDD.collect()

[Person(1,John,23), Person(2,Maria,23), Person(3,Isabella,25), Person(4,Abe,25), Person(5,Connor,47), Person(6,Daniel,19)]

We can operate with dataset taking advantage of their compile-time strong typing and their flexibility.

In [63]:
peopleDs.map(x => x.Age).filter(_>20).collect()

[23, 23, 25, 25, 47]

In [64]:
peopleDs.groupByKey(x => x.Age).count().collect()

[(47,1), (19,1), (23,2), (25,2)]

## Extending with User-Defined Functions (UDFs) and Aggregate Functions (UDAFs)

### UDFs

Using an UDFs, we are going to repeat the process where we obtained a new column with a categorical value for the age.

In [65]:
peopleDf.show()

+---+--------+---+
| id|    Name|Age|
+---+--------+---+
|  1|    John| 23|
|  2|   Maria| 23|
|  3|Isabella| 25|
|  4|     Abe| 25|
|  5|  Connor| 47|
|  6|  Daniel| 19|
+---+--------+---+

In [66]:
val catAgeUdf = F.udf{
    age: Int => {
        if (age>45) 2
        else if(age<=20) 0
        else 1
    }
}

catAgeUdf = UserDefinedFunction(<function1>,IntegerType,Some(List(IntegerType)))

UserDefinedFunction(<function1>,IntegerType,Some(List(IntegerType)))

In [67]:
val peopleDfUdf = peopleDf.withColumn("encodedAge", catAgeUdf(F.col("Age")))

peopleDfUdf = [id: int, Name: string ... 2 more fields]

[id: int, Name: string ... 2 more fields]

In [68]:
peopleDfUdf.show()

+---+--------+---+----------+
| id|    Name|Age|encodedAge|
+---+--------+---+----------+
|  1|    John| 23|         1|
|  2|   Maria| 23|         1|
|  3|Isabella| 25|         1|
|  4|     Abe| 25|         1|
|  5|  Connor| 47|         2|
|  6|  Daniel| 19|         0|
+---+--------+---+----------+

### UDAFs

In [69]:
import org.apache.spark.sql.expressions.MutableAggregationBuffer
import org.apache.spark.sql.expressions.UserDefinedAggregateFunction
import org.apache.spark.sql.Row
import org.apache.spark.sql.types._

class GeometricMean extends UserDefinedAggregateFunction {
  // This is the input fields for your aggregate function.
  override def inputSchema: org.apache.spark.sql.types.StructType =
    StructType(StructField("value", DoubleType) :: Nil)

  // This is the internal fields you keep for computing your aggregate.
  override def bufferSchema: StructType = StructType(
    StructField("count", LongType) ::
    StructField("product", DoubleType) :: Nil
  )

  // This is the output type of your aggregatation function.
  override def dataType: DataType = DoubleType

  override def deterministic: Boolean = true

  // This is the initial value for your buffer schema.
  override def initialize(buffer: MutableAggregationBuffer): Unit = {
    buffer(0) = 0L
    buffer(1) = 1.0
  }

  // This is how to update your buffer schema given an input.
  override def update(buffer: MutableAggregationBuffer, input: Row): Unit = {
    buffer(0) = buffer.getAs[Long](0) + 1
    buffer(1) = buffer.getAs[Double](1) * input.getAs[Double](0)
  }

  // This is how to merge two objects with the bufferSchema type.
  override def merge(buffer1: MutableAggregationBuffer, buffer2: Row): Unit = {
    buffer1(0) = buffer1.getAs[Long](0) + buffer2.getAs[Long](0)
    buffer1(1) = buffer1.getAs[Double](1) * buffer2.getAs[Double](1)
  }

  // This is where you output the final value, given the final value of your bufferSchema.
  override def evaluate(buffer: Row): Any = {
    math.pow(buffer.getDouble(1), 1.toDouble / buffer.getLong(0))
  }
}

defined class GeometricMean

In [70]:
val ids = spark.range(1, 20)
ids.registerTempTable("ids")
val df = spark.sql("select id, id % 3 as group_id from ids")

ids = [id: bigint]
df = [id: bigint, group_id: bigint]

warning: there was one deprecation warning; re-run with -deprecation for details

[id: bigint, group_id: bigint]

In [71]:
df.show()

+---+--------+
| id|group_id|
+---+--------+
|  1|       1|
|  2|       2|
|  3|       0|
|  4|       1|
|  5|       2|
|  6|       0|
|  7|       1|
|  8|       2|
|  9|       0|
| 10|       1|
| 11|       2|
| 12|       0|
| 13|       1|
| 14|       2|
| 15|       0|
| 16|       1|
| 17|       2|
| 18|       0|
| 19|       1|
+---+--------+

In [72]:
// Create an instance of UDAF GeometricMean.
val gm = new GeometricMean

// Show the geometric mean of values of column "id".
df.groupBy("group_id").agg(gm(F.col("id")).as("GeometricMean")).show()

+--------+-----------------+
|group_id|    GeometricMean|
+--------+-----------------+
|       0|8.981385496571725|
|       1|7.301716979342118|
|       2|7.706253151292568|
+--------+-----------------+

gm = GeometricMean@5e9af865

$line149.$read$$iw$$iw$GeometricMean@5e9af865